<!doctype html>
<html data-main-app ng-controller="HomeController">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <style>
      [ng-cloak] {
        display: none;
      }
    </style>
  </head>
  <body data-main-app ng-cloak>

    <div id='main' layout='row' layout-align='center center' layout-wrap>
      <div flex>
        <div layout='column' layout-padding layout-align='center end' layout-wrap>
          <div>Vincent Briglia</div>
        </div>
      </div>
      <div flex>
        <div layout='column' layout-padding layout-align='center' layout-wrap>
          <div><span>full-stack web developer</span></div>
        </div>
      </div>
    </div>

<!--
    <div layout="row">
      <div layout="column" tabIndex="-1" role="main" flex>
        <md-toolbar layout="row">
          <div class="md-toolbar-tools">
            <h3>
              <span>vincentbriglia.com</span>
            </h3>
          </div>
        </md-toolbar>
      </div>
    </div>

    <div layout="row" layout-margin layout-fill layout-padding>
      <div flex>

        <md-content>

          <form name="userForm">

            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Company (Disabled)</label>
                <input ng-model="user.company" disabled>
              </md-input-container>
              <md-input-container flex>
                <label>Submission Date</label>
                <input type="date" ng-model="user.submissionDate">
              </md-input-container>
            </div>

            <div layout layout-sm="column">
              <md-input-container flex>
                <label>First Name</label>
                <input ng-model="user.firstName" placeholder="Placeholder text">
              </md-input-container>
              <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="theMax">
              </md-input-container>
            </div>

            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Title</label>
                <input ng-model="user.title">
              </md-input-container>
              <md-input-container flex>
                <label>Email</label>
                <input ng-model="user.email" type="email">
              </md-input-container>
            </div>

            <md-input-container flex>
              <label>Address</label>
              <input ng-model="user.address">
            </md-input-container>

            <div layout layout-sm="column">
              <md-input-container flex>
                <label>City</label>
                <input ng-model="user.city">
              </md-input-container>
              <md-input-container flex>
                <label>State</label>
                <input ng-model="user.state">
              </md-input-container>
              <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="user.postalCode">
              </md-input-container>
            </div>

            <md-input-container flex>
              <label>Biography</label>
              <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
            </md-input-container>
          </form>
        </md-content>


      </div>
      <div flex></div>
    </div>
 -->



    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app/bootstrap');
    </script>
  </body>
</html>
